/* Mixins
----------------------------------------------- */

@mixin clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

@mixin cue-icon( $font-family ) {
	cursor: pointer;
	display: inline-block;
	font-family: $font-family;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	text-align: center;
	text-decoration: inherit;
	vertical-align: top;
}


/* Extends
----------------------------------------------- */

.cue-dashicon {
	@include cue-icon( "dashicons" );
}
