.cue-playlist-browser,
.cue-playlist-browser * {
	box-sizing: border-box;
}

.cue-playlist-browser {
	padding: 0 16px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.cue-playlist-browser-sidebar {
	background: #f3f3f3;
	border-color: #ddd;
	border-style: solid;
	border-width: 0 0 0 1px;
	overflow: auto;
	padding: 24px 16px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 300px;
	z-index: 75;

	h2 {
		margin-top: 0;
	}

	.setting {
		border-bottom: 1px solid #ddd;
		margin-bottom: 5px;
		padding-bottom: 11px;

		p {
			clear: both;
			margin-top: 0;
			overflow: hidden;
		}

		select {
			float: right;
			width: 65%;
		}

		&:last-child {
			border-bottom: 0;
			padding-bottom: 0;
		}
	}
}

.cue-playlist-browser-list {
	clear: both;
	float: left;
	margin: 0;
	overflow: auto;
	padding: 8px;
	position: absolute;
	top: 0;
	right: 300px;
	bottom: 0;
	left: 0;
}

.cue-playlist-browser-list-item {
	float: left;
	margin: 0;
	padding: 8px;
	position: relative;
	width: 20%;

	&.is-selected {
		box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #0073aa;
	}
}

.cue-media-thumbnail {
	background: #eee;
	cursor: pointer;
	-webkit-box-shadow: inset 0 0 15px rgba( 0, 0, 0, 0.1 ), inset 0 0 0 1px rgba( 0, 0, 0, 0.05 );
	box-shadow: inset 0 0 15px rgba( 0, 0, 0, 0.1 ), inset 0 0 0 1px rgba( 0, 0, 0, 0.05 );
	position: relative;
	text-align: center;

	&:before {
		content: "";
		display: block;
		padding-top: 100%;
	}

	svg {
		fill: #82878c;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -70%);
		width: 50%;
	}
}

.cue-media-thumbnail-image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.cue-media-thumbnail-image img {
	max-width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cue-media-thumbnail-title {
	background: #fff;
	box-shadow: inset 0 0 0 1px rgba( 0, 0, 0, 0.15 );
	font-weight: bold;
	overflow: hidden;
	padding: 5px 10px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	word-wrap: break-word;
}

.cue-playlist-browser-empty {
	align-content: center;
	align-items: center;
	background: #fff;
	display: none;
	flex-flow: column nowrap;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 80; // Above the sidebar.

	h2 {
		font-size: 20px;
		font-weight: 400;
		line-height: 28px;
		margin: 0;
	}

	&.is-visible {
		display: flex;
	}
}

@media screen and (max-width: 1100px) {
	.cue-playlist-browser-list-item {
		width: 33.33%;
	}
}

@media screen and (max-width: 768px) {
	.cue-playlist-browser-list {
		right: 200px;
	}

	.cue-playlist-browser-sidebar {
		width: 200px;
	}

	.cue-playlist-browser-list-item {
		width: 50%;
	}
}

@media screen and (max-width: 480px) {
	.cue-playlist-browser-list-item {
		width: 100%;
	}
}
