.cue-skin-default.mejs-container {
	background: none;
	background-clip: padding-box;
	background-color: #000;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.3);
	height: 142px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;

	.mejs-inner {
		height: 142px;
		padding: 15px 15px 25px 15px;
		position: relative;
		z-index: 10;
	}

	.mejs-mediaelement {
		background: transparent;
	}

	.mejs-track-artwork {
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
		float: left;
		height: 100px;
		margin-right: 15px;
		position: relative;
		width: 100px;

		&:before {
			box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		img {
			display: block;
			height: 100%;
			width: 100%;
		}
	}

	.mejs-track-details {
		color: #fff;
		padding-top: 4px;

		.mejs-track-artist {
			display: block;
			line-height: 2;
			margin-right: 45px;
		}

		.mejs-track-title {
			display: block;
			font-size: 16px;
			font-weight: bold;
			line-height: 1.2;
		}
	}

	.mejs-controls {
		background: none;
		display: block;
		margin-top: 10px;
		position: static;

		div {
			height: auto;
			width: auto;
		}

		.mejs-button button {
			background: none;
			border-color: #fff;
			border-radius: 0;
			border-style: solid;
			box-shadow: none;
			height: 20px;
			margin: 0;
			outline: 0;
			position: relative;
			transition: none;
			width: 20px;

			&:before {
				content: "";
			}

			&:active,
			&:focus {
				background: none;
				box-shadow: none;
				outline: 0;
			}
		}

		.mejs-playpause-button {
			background: rgba(0, 0, 0, 0.5);
			border-radius: 30px;
			box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
			cursor: pointer;
			height: 50px;
			position: absolute;
			top: 39px;
			left: 39px;
			transition: box-shadow .2s;
			width: 50px;

			button {
				height: 20px;
				width: 16px;
			}

			&:hover,
			.is-playing & {
				box-shadow: 0 0 0 5px #fff;
			}

			&.mejs-pause button {
				border-width: 0 5px;
				margin: 15px 17px;
			}

			&.mejs-play button {
				border-color: transparent #fff;
				border-style: inset solid;
				border-width: 10px 0 10px 16px;
				height: 0;
				margin: 15px 15px 15px 19px;
				width: 0;
			}
		}

		.mejs-next-button,
		.mejs-previous-button {
			cursor: pointer;
			height: 20px;
			margin-right: 15px;
			opacity: 0.6;
			position: relative;
			transition: opacity .2s;
			width: 20px;

			button {
				border-color: transparent #fff;
				border-style: inset solid;
				border-width: 8px 0 8px 12px;
				height: 0;
				margin: 2px 4px;
				width: 0;

				&:before {
					background: #fff;
					content: "";
					display: block;
					height: 14px;
					position: absolute;
					top: -7px;
					right: -2px;
					width: 3px;
				}
			}

			&:hover {
				opacity: 1;
			}
		}

		.mejs-previous-button {
			button {
				border-width: 8px 12px 8px 0;

				&:before {
					right: auto;
					left: -2px;
				}
			}
		}

		.mejs-time-rail {
			$rail-height: 10px;

			box-shadow: 0 -1px rgba(255, 255, 255, 0.2);
			height: $rail-height;
			padding: 0;
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;

			.mejs-time-total {
				background: rgba(0, 0, 0, 0.4);
				border-radius: 0;
				height: $rail-height;
				margin: 0;
				width: 100%;
			}

			.mejs-time-handle {
				background: rgba(255, 255, 255, 0.5);
				border-radius: 0;
				border-width: 0;
				display: block;
				height: $rail-height;
				position: absolute;
				top: 0;
				width: 5px;
			}

			.mejs-time-current,
			.mejs-time-loaded {
				background: transparent;
				height: $rail-height;
			}
		}

		.mejs-time {
			height: 16px;
			line-height: 16px;
			padding: 0;
			position: absolute;
			right: 15px;
			bottom: 25px;

			span {
				color: #fff;
				line-height: 16px;
				margin: 0;
			}

			.mejs-time-separator {
				padding: 0 5px;
			}
		}

		.mejs-volume-button {
			height: 24px;
			margin-right: 10px;
			opacity: 0.6;
			top: -2px;
			width: 24px;

			button,
			button:focus {
				background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LDE2di0xLjVjMS4zNzgsMCwyLjUtMS4xMjIsMi41LTIuNWMwLTEuMzc5LTEuMTIyLTIuNS0yLjUtMi41VjhjMi4yMDksMCw0LDEuNzkxLDQsNEMxOCwxNC4yMDksMTYuMjA5LDE2LDE0LDE2eiBNMTQsNCB2MS41YzMuNTg0LDAsNi41LDIuOTE2LDYuNSw2LjVzLTIuOTE2LDYuNS02LjUsNi41VjIwYzQuNDE4LDAsOC0zLjU4Miw4LThTMTguNDE4LDQsMTQsNHogTTIsOXY2aDRsNiw2VjNMNiw5SDJ6Ii8+PC9zdmc+");
				height: 24px;
				width: 24px;
			}

			&.mejs-unmute button,
			&.mejs-unmute button:focus {
				background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LDkuNVY4YzIuMjA5LDAsNCwxLjc5MSw0LDRjMCwwLjgxNC0wLjI0NiwxLjU3LTAuNjY0LDIuMjAyTDE2LjIzNCwxMy4xYzAuMTY1LTAuMzMzLDAuMjY2LTAuNzAzLDAuMjY2LTEuMSBDMTYuNSwxMC42MjEsMTUuMzc4LDkuNSwxNCw5LjV6IE0yMC41LDEyYzAsMS41MDMtMC41MTgsMi44ODUtMS4zNzgsMy45ODhsMS4wNzMsMS4wNzNDMjEuMzIyLDE1LjY4MiwyMiwxMy45MiwyMiwxMiBjMC00LjQxOC0zLjU4Mi04LTgtOHYxLjVDMTcuNTg0LDUuNSwyMC41LDguNDE2LDIwLjUsMTJ6IE0xMiwzTDkuMDY3LDUuOTMzTDEyLDguODY2VjN6IE0yLDMuMDYxbDQuOTcsNC45N0w2LDlIMnY2aDRsNiw2di03LjkzOSBsNC43ODUsNC43ODVDMTUuOTM4LDE4LjI1MiwxNS4wMDEsMTguNSwxNCwxOC41VjIwYzEuNDIyLDAsMi43NTUtMC4zNzYsMy45MTItMS4wMjhMMjAuOTM5LDIyTDIyLDIwLjkzOUwzLjA2MSwyTDIsMy4wNjF6Ii8+PC9zdmc+");
			}

			&:hover {
				opacity: 1;
			}
		}

		.mejs-horizontal-volume-slider {
			height: 20px;
			width: 100px;

			&:hover {
				opacity: 1;
			}

			.mejs-horizontal-volume-current,
			.mejs-horizontal-volume-total {
				border-radius: 3px;
				height: 6px;
				margin-top: -3px;
				position: absolute;
				top: 50%;
			}

			.mejs-horizontal-volume-total {
				background: #fff;
				opacity: 0.6;
				width: 100%;
			}

			.mejs-horizontal-volume-current {
				background: #fff;
				opacity: 1;
			}
		}
	}

	.mejs-player-background {
		filter: blur(5px);
		height: auto;
		max-width: 120%;
		opacity: 0.9;
		position: absolute;
		top: -50%;
		right: -10%;
		left: -10%;
		//transform: translate(0, -50%);
		width: 120%;
		z-index: 0;
		//-webkit-backface-visibility: hidden;
	}

	.mejs-audiotheme-mark {
		background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MCA0MCI+PHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iTTEwLDQwQzQuNSw0MCwwLDM1LjUsMCwzMHM0LjUtMTAsMTAtMTBzMTAsNC41LDEwLDEwUzE1LjUsNDAsMTAsNDB6IE0wLDBsNDAsNDBWMjBMMjAsMEgweiBNODAsMEg0MHYxNGg0MFYweiBNNzQsNDBMNjAsMThMNDYsNDBINzR6Ii8+PC9zdmc+");
		background-repeat: no-repeat;
		display: block;
		height: 16px;
		opacity: 0.6;
		overflow: hidden;
		position: absolute;
		top: 15px;
		right: 15px;
		text-indent: 100%;
		transition: opacity .2s;
		white-space: nowrap;
		width: 30px;

		&:hover {
			opacity: 1;
		}
	}
}

// Only one track is in the playlist.
// Hide the previous/next buttons.
.cue-tracks-count-1 {
	.cue-skin-default.mejs-container {
		.mejs-controls {
			.mejs-next-button,
			.mejs-previous-button {
				display: none;
			}
		}
	}
}

// Style the background image if blur filters aren't supported.
.no-css-filters.no-svg-filters {
	.cue-skin-default.mejs-container .mejs-player-background {
		opacity: 0.3;
	}
}

.cue-playlist.max-width-480 {
	.cue-skin-default.mejs-container {
		.mejs-track-details {
			.mejs-track-title {
				font-size: 14px;
			}
		}

		.mejs-controls {
			.mejs-volume-button,
			.mejs-horizontal-volume-slider {
				display: none;
			}
		}
	}
}

// Narrow variation element queries.
.cue-playlist.max-width-380 {
	.cue-skin-default.mejs-container {
		height: auto;
		padding-bottom: 100%;

		.mejs-inner {
			height: auto;
			padding: 0;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		.mejs-layers {
			height: 100%;
			width: 100%;
		}

		.mejs-track-artwork {
			box-shadow: none;
			float: none;
			height: 100%;
			margin: 0;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;

			&:before {
				box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3);
				z-index: 1;
			}

			&:after {
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.55) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);;
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}

			img {
				height: 100%;
				width: 100%;
			}
		}

		.mejs-track-details {
			padding: 0 20px;
			position: absolute;
			bottom: 45px;
			text-align: center;
			width: 100%;
			z-index: 5;

			.mejs-track-artist {
				margin-right: 0;
			}
		}

		.mejs-controls {
			height: 0;
			margin: 0;

			.mejs-playpause-button {
				border-radius: 35px;
				height: 70px;
				margin-top: -35px;
				margin-left: -35px;
				position: absolute;
				top: 50%;
				left: 50%;
				width: 70px;
				z-index: 5;

				button {
					margin: 25px 27px;
				}

				// Horizontally center the play icon.
				&.mejs-play button {
					margin: 25px 25px 25px 29px;
				}
			}

			.mejs-next-button,
			.mejs-previous-button {
				background: rgba(0, 0, 0, 0.5);
				border-radius: 18px;
				box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
				height: 36px;
				margin-top: -18px;
				margin-left: 58px;
				opacity: 0.6;
				position: absolute;
				top: 50%;
				left: 50%;
				width: 36px;
				z-index: 5;

				button {
					margin: 10px 12px;
				}

				&:hover {
					box-shadow: 0 0 0 2px #fff;
					opacity: 1;
				}
			}

			.mejs-previous-button {
				margin-left: -94px;
			}

			.mejs-time-rail {
				z-index: 5;
			}

			.mejs-time {
				position: absolute;
				right: auto;
				bottom: 24px;
				text-align: center;
				width: 100%;
				z-index: 5;

				span {
					display: inline-block;
					float: none;
				}
			}
		}

		.mejs-player-background,
		.mejs-audiotheme-mark {
			display: none;
		}
	}
}

.cue-playlist.max-width-300 {
	.cue-skin-default.mejs-container {
		.mejs-track-details {
			display: none;
		}
	}
}

.cue-playlist.max-width-200 {
	.cue-skin-default.mejs-container {
		border-radius: 0;

		.mejs-controls {
			.mejs-playpause-button {
				border-radius: 25px;
				height: 50px;
				margin-top: -25px;
				margin-left: -25px;
				width: 50px;

				&.mejs-pause button {
					margin: 15px 17px;
				}

				&.mejs-play button {
					margin: 15px 15px 15px 19px;
				}
			}

			.mejs-next-button,
			.mejs-previous-button {
				background: transparent;
				border-radius: 0;
				box-shadow: none;
				height: 16px;
				margin-top: -8px;
				margin-left: 45px;
				width: 16px;

				button {
					margin: 0;
				}

				&:hover {
					box-shadow: none;
				}
			}

			.mejs-previous-button {
				margin-left: -65px;
			}

			.mejs-time {
				bottom: 20px;
			}
		}
	}
}
