.cue-playlist {
	box-sizing: border-box;
	border-radius: 5px;
	font-family: sans-serif;
	font-size: 12px;
	line-height: 1;
	margin: 0 0 20px 0;
	position: relative;

	* {
		box-sizing: border-box;
	}

	.cue-track {
		border-color: #e0e0e0;
		border-style: solid;
		border-width: 1px 0 0 0;
		color: #808080;
		cursor: pointer;
		display: table;
		margin: 0;
		padding: 0;
		width: 100%;

		.cue-track-cell {
			display: table-cell;
			vertical-align: middle;
		}

		.cue-track-details {
			padding: 12px 20px;
			line-height: 18px;

			.cue-track-title {
				color: #444;
				display: block;
				font-weight: bold;
			}

			.cue-track-artist {
				display: block;
			}
		}

		.cue-track-length {
			font-size: 11px;
			padding: 10px 20px 10px 10px;
			text-align: right;
		}

		&:hover,
		&.is-current {
			background-color: #f5f5f5;
		}
	}

	.cue-tracks {
		background: #fff;
		border-color: #e0e0e0;
		border-style: solid;
		border-width: 0 1px 1px 1px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
		list-style: none;
		margin: 0;
		overflow: auto;
		padding: 0;
		text-align: left;
		width: 100%;
	}

	// Theme overrides.
	.entry-content ol.cue-tracks,
	.entry-content ol.cue-tracks li.cue-track,
	.widget ol.cue-tracks li.cue-track {
		margin: 0;
		padding: 0;
	}

	&.is-playlist-hidden {
		.cue-tracks {
			display: none;
		}
	}
}

.cue-playlist.max-width-300 {
	.cue-track {
		.cue-track-length {
			display: none;
		}
	}
}

.cue-playlist.max-width-200 {
	.cue-track {
		border-color: rgba(0, 0, 0, 0.1);
		border-width: 0 0 1px 0;

		.cue-track-details {
			padding: 8px 10px;

			.cue-track-title {
				font-weight: normal;
			}
		}

		&:hover,
		&.is-current {
			background: transparent;

			.cue-track-details .cue-track-title {
				font-weight: bold;
			}
		}

		&:last-of-type {
			border-bottom-width: 0;
		}
	}

	.cue-tracks {
		background: rgba(255, 255, 255, 0.8);
		border-width: 0;
		box-shadow: none;
		max-height: 100%;
	}
}

// Limit the height of the playlist on screens wider than 600px.
@media only screen and (min-width: 600px) {
	.cue-tracks {
		max-height: 286px; // Height of ~5 tracks.
	}
}
